<html ng-app="app">
  <body>
    <div ng-controller="MainController as main">
      {{ main.mydata }}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.1/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </body>
</html>
