<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
  <script type="text/javascript" src="app.js"></script>
</head>
<html ng-app="app">
  <body>
    <div ng-controller="MainController as main">
      <pre>{{ mydata | json }}</pre>
    </div>
  </body>
</html>
